/* ================================
   Sisha UIKit – Base
   Typography & Base Elements
   ================================ */

body {
    line-height: 1.7;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: min(1200px, 90%);
    margin-inline: auto;
}
